<style>
    .box{
        width: 400px;
        height: 400px;
    }
    .text-box {
        width: auto;
        height: auto;
        min-width:350px;
    }
</style>
<html>
<body>
    <div id="table" class="box" style="border: solid;border-color: chocolate;padding: 10px;">
    </div>
    <textarea id="textbox" class="text-box" placeholder="Enter a text to send."></textarea>
    <button id="send" type="button">Send</button>
</body>
</html>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/SignalR.js"></script>
}